@import "tailwindcss";

@theme {
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;
  
  --color-accent-50: #f0fdf4;
  --color-accent-500: #22c55e;
  --color-accent-600: #16a34a;
}
